
.whiteBlock {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.764);

    padding: 20px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 20px;

    box-shadow: 0 2px 8px 1px rgba(175, 196, 208, 0.698);
    margin-bottom: 20px;
    margin-top: 20px;

    transition: .35s;
}