
.todo-enter {
    transition: .5s;
    opacity: 0;
    transform: translateY(15px)
}
.todo-enter-active {
    opacity: 1;
    transform: translateY(0px)
}
.todo-exit {
    transition: .5s;
    transform: translateY(0px)
}
.todo-exit-active {
    opacity: 0;
    transform: translateY(15px)
}