
.userList {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-enter {
    transition: .5s;
    opacity: 0;
    transform: translateY(15px)
}
.user-enter-active {
    opacity: 1;
    transform: translateY(0px)
}
.user-exit {
    transition: .5s;
    transform: translateY(0px)
}
.user-exit-active {
    opacity: 0;
    transform: translateY(15px)
}