
.searchSection {
    position: relative;
    width: 100%;
}

.input {
    font-size: 1rem;
    padding: 10px 15px;
    width: 100%;
    background: var(--white);
    border: 2px solid var(--whiteBorder);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;

    box-shadow: var(--boxShadow);
    transition: .3s;
}

.input + .lbl {
    display: none;
}

.input + .lbl input {
    display: none;
}

.input:focus {
    outline: none;
    box-shadow: 0 2px 8px 1px rgba(135, 153, 163, 0.697);
}

.input:focus + .lbl {
    opacity: .6;
    animation: floating .5s ease-in-out;
}



/* ------ */

.input__search {
    padding: 10px 15px 10px 40px;
}

.input__search + .lbl {
    display: block;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translate(0, -50%);
    width: 20px;
    height: 20px;
    background: url('/loopa.svg') center no-repeat;
    opacity: .45;
}


/* ------- */

.input__password {
    padding: 10px 40px 10px 15px;
}

.input__password + .lbl {
    display: block;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translate(0, -50%);
    width: 20px;
    height: 20px;
    opacity: .45;
}

.input__password + .lbl input {
    appearance: none;
    display: block;
    width: 100%;
    height: 100%;
    background: url('/hide.png') center no-repeat;
    background-size: contain;
}

.input__password + .lbl input:checked {
    background: url('/show.png') center no-repeat;
    background-size: contain;
}

/* ------- */


@keyframes floating {
    0% {
        scale: 1;
    }
    50% {
        scale: 1.05;
    }
    100% {
        scale: 1
    }
}